body {
  background-color: rgb(255, 249, 247);
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #343434;
  line-height: 20px;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: #343434;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.card-white {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 40px 70px;
    text-align: center;
    opacity: 1;
}

.img-circle {
    border-radius: 50%;
}

.introduction-text {
    padding-bottom: 25px;
    padding-top: 10px;
}

.btn-white {
    background-color: white;
    color: #343434;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0.8px solid;
}

.btn-white:hover {
    background-color: rgb(200, 200, 200);
    color: white;
    border: none;
}

.list-inline {
    list-style: none;
    padding-top: 15px;
    padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 40px;
  color: rgb(200, 200, 200);
}

.list-inline i:hover {
  color: black;
}
